/*primary color*/

.bg-cream {
    /* background-color: #FFF2E1; */
    /* background-color: rgb(243, 252, 94); */
    /* background-color: rgb(0, 242, 242); */
    background-color: rgb(181, 255, 225);
     /* background-color: #b3e0db; */
}


/*font*/

body {
    font-family: 'Poppins', sans-serif;
}

.bg-yellow-500 {
    background-color: #009688;
}

.text-yellow-500 {
    color: #009688;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 8px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

.floating-4 {
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating-4 {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 8px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

.text-darken {
    color: #011502;
}

.button-dark {
    color: #011502;
}


/* Add these styles to your existing CSS */
.bg-opacity-75 {
  background-color: rgba(255, 255, 255, 0.50);
}

.backdrop-filter {
  backdrop-filter: blur(20px);
}